<nav class="nav__container container-fluid" #stickyMenu [class.sticky] = "sticky">
    <ul class="nav nav-pills nav-justified">
        <li class="nav__box nav-item"  (click)="goTo('blurbs')">
          <a class="nav__button nav-link active"><b>Home</b></a>
        </li>
        <li class="nav__box nav-item"  (click)="goTo('services')">
          <a class="nav__button nav-link"><b>Services</b></a>
        </li>
        <li class="nav__box nav-item" (click)="goTo('about')">
          <a class="nav__button nav-link"><b>About</b></a>
        </li>
        <li class="nav__box nav-item" (click)="goTo('portfolio')">
          <a class="nav__button nav-link"><b>Projects</b></a>
        </li>

        <!--
             <li class="nav__box nav-item" (click)="goTo('contact')">
          <a class="nav__button nav-link"><b>Contact</b></a>
        </li>
        -->
     
      </ul>
</nav>


<!--


      <div class="nav__box">
          <p class="nav__button">Home</p>
        </div>
        <div class="nav__box">
          <p class="nav__button">About Me</p>
        </div>
        <div class="nav__box">
          <p class="nav__button" (click)="onClick(e)">Portfolio</p>
        </div>
        <div class="nav__box">
          <p class="nav__button" (click)="onClick()">Contact</p>
        </div>
-->