@keyframes changeColor {
    0% {
        color: white;
    }
    100% {
        color: #0F4263;
    }
}
.buttons-container{
    display: block;
}
.sticky{
    position: sticky;
  
    overflow: hidden;
    z-index: 999;
}
.nav {
    &__container {
        
        
        
        width: 100%;
        border-top: 2px solid #FF6530;
        border-bottom: 2px solid #FF6530;
    }

    &__box {
        width: 180px;
        display: inline-block;
        position: relative;
        color: black;
        

        &:hover {
            cursor: pointer;
            color: #0F4263;
            margin: 0;
            animation: changeColor 0.4s ease-in-out;
            border-bottom: 2px solid #0F4263;
            
        }
    }
  
    &__button {
        text-align: center;
        text-transform: uppercase;
        user-select: none;

        
    
    }
}

.nav-link.active {
    background-color: #3499DB;
}

.nav-pills .nav-link {
    border-radius: 0;
    border-right: 1px solid #FF6530;
    border-left: 1px solid #FF6530;
    
}

.nav-link.active  {
    background-color: #3499DB;
   
}

a.nav-link {
    color: black;
}
