
.carousel-inner{
    
    height: 400px;
    background-color: black;
    display: inline-block;
    
}

.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);

}

.box {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 810px;

    background: white;
    box-shadow: 0 2px 8px rbga(0,0,0,0.26);

    &__tittle {
        text-align: center;
        font-size: 1.6rem;
        border-bottom: 2px solid #FF6530;
        margin: 15px 0;
        padding-bottom: 20px;
    }
}

.text{
    height: 200px;
}



.button-enter {
    font-family: 'PT Serif', serif;
    font-size: 1.4rem;
    // padding: 12px 0;
    height: 45px;
    width: 180px;
    // border: 2px solid #FF6530;
    background-color: white; 
    color: #FF6530;
    transition: 0.3s;
    display: block;
    margin: 0 auto 20px auto;
}

.button-enter:hover {
    border: 2px solid white;
    background-color: #FF6530; 
    color:white;
}

.button-close {
    font-size: 20;
    font-family: 'PT Serif', serif;
    padding: 12px 0;
    height: 70px;
    width: 180px;
    border: 2px solid white;
    background-color: #EEEEEE; 
    float: right;
}