
.carousel-inner{
    
    height: 320px;
    background-color: black;
    display: inline-block;
    
}
.close{
    display: block;
    z-index:1;
        height: 50px;
        width: 50px;
        margin: 50px auto;
        fill: white;
        position: fixed;
        top: 0%;
        left: 85%;
}
.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);

}

.box {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 810px;

    background-image: linear-gradient(to bottom, #d4f3ff, #e8dbff);
    box-shadow: 0 2px 8px rbga(0,0,0,0.26);

    &__tittle {
        text-align: center;
        font-size: 1.6rem;
        border-bottom: 2px solid rgba(255, 100, 48, 0.658);
        margin: 15px 0;
        padding-bottom: 20px;
    }
    &__content {
        height: 200px;
        padding-left: 25px;
    }
}



.button-enter {
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    height: 45px;
    width: 240px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #ff64306e, #fffc3083);
    box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
    transition: 0.3s;
    display: block;
    margin: 0 auto 20px auto;
}

.button-enter:hover {
    // border: 2px solid white;
    background-color: #FF6530; 
    color:white;
}

.button-close {
    font-size: 20;
    font-family: 'PT Serif', serif;
    padding: 12px 0;
    height: 70px;
    width: 180px;
    // border: 2px solid white;
    background-color: #EEEEEE; 
    float: right;
}

.carousel-control-next-icon{
    background-color: black;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon{
    background-color: black;
    width: 50px;
    height: 50px;
}