@import "~src/scss/mixin";

.carousel-inner{
    height: 30vh;
    background-color: black;
    display: inline-block;
    @include for-phone-only {
        height: auto;
        min-height: 15vh;
    }
    
}
.close{
    z-index: 10;
    height: 35px;
    width: 35px;
    fill: black;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
}
.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);

}

.box {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 75%;
    max-width: 810px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 155, 122)), to(rgb(255, 212, 197)));

    background-image: linear-gradient(to bottom, rgb(255, 155, 122), rgb(255, 212, 197));
    -webkit-box-shadow: 0 2px 8px rbga(0,0,0,0.26);
            box-shadow: 0 2px 8px rbga(0,0,0,0.26);

    &__tittle {
        text-align: center;
        font-size: 1.6rem;
        border-bottom: 2px solid rgba(255, 100, 48, 0.658);
        margin: 15px 0;
        padding-bottom: 20px;
    }
    &__content {
        height: 200px;
        padding: 0 25px;
        font-size: 1.3rem;
        text-align: justify;
        @include for-phone-only {
            height: 20vh;
        }
    }
}

.button-enter {
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    height: 45px;
    width: 240px;
    border: none;
    border-radius: 5px;
    // background-image: -webkit-gradient(linear, left top, right bottom, from(#ff64306e), to(#fffc3083));
    // background-image: linear-gradient(to right bottom, #ff64306e, #fffc3083);
    -webkit-box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
            box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    margin: 0 auto 20px auto;
    & a {
        color: black;
        text-decoration: none;
    }
}

.button-enter:hover {
    // border: 2px solid white;
    background-color: #FF6530; 
    color:white;
}

.button-close {
    font-size: 20;
    font-family: 'PT Serif', serif;
    padding: 12px 0;
    height: 70px;
    width: 180px;
    // border: 2px solid white;
    background-color: #EEEEEE; 
    float: right;
}

.carousel--btn{
    background-color: black;
    width: 35px;
    height: 35px;
    @include for-phone-only {
        width: 25px;
        height: 25px;
    }
}