<div class="backdrop" *ngIf="project" >
  <div class="box">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"><!--  data-interval="5000" -->
      <div class="carousel-inner">
        <div class="close" (click)="onClose()">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.538l-4.592-4.548 4.546-4.587-1.416-1.403-4.545 4.589-4.588-4.543-1.405 1.405 4.593 4.552-4.547 4.592 1.405 1.405 4.555-4.596 4.591 4.55 1.403-1.416z"/></svg>
        </div>
        <div class="carousel-item" *ngFor="let img of project.images; let isFirst = first" [class.active]="isFirst">
          <img [src]="img" class="d-block w-100" alt="project.tittle">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon carousel--btn" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon carousel--btn" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="box__tittle">{{ project.name }}</div>
    <div class="box__content text">{{ project.description }}</div>

    <div class="box-actions">
      <button class="button-enter" ><b>Enter Website</b></button>
    </div>
  </div>


</div>