@import "~src/scss/keyframes";

.blurbs {
    
   // background-color: rgba(52, 152, 219, 0.8);
    background-image: url("~/assets/customer-layout-new.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__overlay {
        display: inline-block;
        padding-top: 3%;
        // background-color: rgba(52, 152, 219, 0.5);
        height: 750px;
        width: 100%;
    }
}

.blurb {
    text-align: center;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 300px;
    margin: 20px auto 20px auto;
    border: 6px solid #FF6530;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    
    &:hover {
        .blurb {

            &__tittle {
            }
            &__icon {
                animation: moveUR 1s ease-in-out;
                animation-fill-mode: forwards;
            }
            &__description {
                display: block;
                animation: moveUp 1s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__tittle {
        font-size: 2.5rem;
        font-family: 'Gochi Hand', cursive;
        text-transform: uppercase;
        padding-top: 30px;
        margin-bottom: 50px;
    }

    &__icon {
        display: block;
        height: 80px;
        width: 80px;
        margin: 50px auto;
        fill: #FF6530;
    }

    &__description {
        display: none;
        margin: auto;
        font-size: 1rem;
        width: 90%;
        height: 200px;

    }
}

.util {

    &__margin-left {
        margin-left: 25%;
    }
    &__margin-right {
        margin-right: 25%;
    }
}