
.container-fluid {
    background-color: #EEEEEE;
}
h3 {
    text-align: center;
    margin-bottom: 30px;
}

#Capa_1 {
    width: 160px;
    height: 80px;
}

svg{
    display: block;
    margin: auto;
    
}