.blurbs {
    
    // padding-left: 20px;
    /*
    background-image: linear-gradient(to bottom right,rgba(52, 152, 219, 0.9), rgba(255, 100, 48, 0.9)), url("~/assets/customer-layout.jpg"), url("~/assets/laptop-layout.jpg");
    background-size: cover, contain;
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    */
     /* 
         background-image: linear-gradient(to bottom right,rgba(52, 152, 219, 0.8), rgba(255, 100, 48, 0.8)), url("~/assets/customer-layout.jpg");

     */
    background-color: rgba(52, 152, 219, 0.8);
    background-image: url("~/assets/customer-layout.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__overlay {
        display: inline-block;
        padding-top: 3%;
        // padding-bottom: 90px;
        background-color: rgba(52, 152, 219, 0.5);
        height: 750px;
        width: 100%;
    }
}

.blurb {
    opacity: 1;
    text-align: center;
    // background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 300px;
    margin: 20px auto 0 auto;


    &__tittle {
        font-size: 1.8rem;
        padding-top: 50px;
        margin-bottom: 60px;
    }

    &__icon {
        display: block;
        height: 80px;
        width: 80px;
        margin: 50px auto;
        // fill: rgba(255, 149, 114);
    }

    &__description {
        display: none;
        font-size: 1.2rem;
        width: 90%;
        height: 200px;

    }
}

.util {

    &__margin-left {
        margin-left: 45%;
    }
    &__margin-right {
        margin-right: 45%;
    }
}