footer{
    background-color: #658ea9;
    height: 100px;
    display: flex;
}

.logo{
   
    height: 70px;
    width: 70px;
    background: url("~/assets/StoleronLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    display: inline-flex;
}

.text {
   
    margin: auto 50px;
    color:  white;
}

.name{
    font-family: "Gochi Hand", cursive;
    font-size: 22px;
}