footer{
    background-color: #658ea9;

}

.logo{
   
    height: 70px;
    width: 70px;
    background: url("~/assets/StoleronLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

.text {
   
    margin:auto;
    color:  white;
}