<footer>
    <div class="container">
        <div class="container__text">
            <span >Designed and Developed by <span class="container__name">Idan Avinoam</span> and <span class="container__name">Ron Stoleru</span> <span class="container__from"> from</span> </span>
            
        </div>
    <a href="stoleron.com"><div class="container__logo"></div></a>
    <a href="stoleron.com"><div class="container__fiverr"></div></a>
    <div class="container__text">
            <span >StoleronSolutions@gmail.com</span>
    </div>
   
    </div>
</footer>