@import "~src/scss/mixin";
@import "~src/scss/variables";

.container-fluid {
    margin-bottom: 250px;
    padding-top: 100px;
    @include for-phone-only {
        margin-bottom: 0;
    }
    
}

.services {
    &__tittle {
        margin: auto;
        margin-bottom: 20px;
    }

}

.service{
    width: 80%;
    height: 110%;
    margin: auto;

    padding: 10px;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    &__tittle {
       
        text-align: center;
        font-size: 1.8rem;
        padding-top: 20px;
        //text-decoration: underline; 
        padding-bottom: 35px;
          border-bottom: 2px solid white;
    }
    
    &__description {
        font-size: 1.3rem;
        font-weight: 600;
       

        &--opg{
          
        }

    }

    &__link {
        &:hover {
            text-decoration: none;
            
        }
    }

    &__button {
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        // width: 60%;
        text-align: center;
        -webkit-box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
                box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);

        border: 2px solid #FF5524;
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
        text-align: center;
        color: white;
        background-color: #FF5524 ;
       
        &:hover {
          
        }

    }

    &__comming-soon {
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        // width: 60%;
        text-align: center;
        -webkit-box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
                box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);

        border: 2px solid #B46A55;
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
        text-align: center;
        color: white;
        background-color: #B46A55 ;
       
        

    }
    
    &__icon {
        width: 70px;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 60px auto;
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
        &--1 {
            background-image: url("~/assets/html-service.png");
        }
        &--2 {
            background-image: url("~/assets/css3-logo-new.png");
        }
        &--3 {
            background-image: url("~/assets/js-logo-new.png");
        }
        &--4 {
            background-image: url("~/assets/wordpress-service.png");
        }
        &--5 {
            background-image: url("~/assets/angular-service.png");
        }
        &--6 {
            background-image: url("~/assets/nodejs-service.png");
        }
        &--7 {
            background-image: url("~/assets/firebase-service.png");
        }
    }

    &__icon:hover{
        -webkit-filter:none;
                filter:none;
    }
}
.sepeator{
    padding-top: 100px;
}
.util {
    &__margin-bottom {
        margin-bottom: 30px;
    }

    &__border-top{
        border-left: 2px solid #7DAAC7;
        height: 150px;
        margin-bottom: 150px;
        
      
    }

    &__border-bottom{
        border-left: 2px solid #7DAAC7;
        height: 150px;
        
    }
}

@include for-phone-only {  
    .col-sm{
        margin-bottom: 200px;
    }
 
    .service{
        &__icon {
            -webkit-filter:none;
                    filter:none;
        }
    }
    .sepeator {
        display:none;
    }

}

@include for-tablet-only {
    .service {
        width: 50%;
        min-width: 320px;
    }
    .col-sm{
        margin-bottom: 150px;
    }
    .service{
        &__icon {
            -webkit-filter:none;
                    filter:none;
        }
    }
    .sepeator {
        display:none;
    }
}