<div class="container-fluid">
    <div class="row">
        <h2>Services</h2>
    </div>
    <div class="blurbs__container">
        <div class="row">
            <div class="col-sm">
                <div class="blurb">
                    <h5 class="blurb__tittle util__margin-bottom">Landing Page</h5>
                    <div class="row">
                        <div class="blurb__icon blurb__icon--1"></div>
                        <div class="blurb__icon blurb__icon--2"></div>
                        <div class="blurb__icon blurb__icon--3"></div>
                    </div>
                    <p class="blurb__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies nec</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="blurb">
                    <h5 class="blurb__tittle">Wordpress Website / Woocommerce</h5>
                    <div class="blurb__icon blurb__icon--4"></div> <!-- wordpress -->
                    <p class="blurb__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies nec</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="blurb">
                    <h5 class="blurb__tittle"> One Page Website/Appliaction</h5>
                    <div class="row">
                        <div class="blurb__icon blurb__icon--5"></div>
                        <div class="blurb__icon blurb__icon--6"></div>
                        <div class="blurb__icon blurb__icon--7"></div>
                    </div>
                    <p class="blurb__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies nec</p>
                </div>
            </div>
        </div>
    </div>
</div>