
h5, h2 {
    text-align: center;
    display: block;
    margin: auto;
}
h5 {
    margin-bottom: 40px;
}
.html-css-js{
    width:200px;
    height: 75px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

.wordpress {
    width:75px;
    height: 75px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

.angular {
    width:75px;
    height: 75px;
    margin: auto;
    display: block;
}

.logo-container {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
   
}

.logo {
    display: inline-flex;
    width:75px;
    height: 75px;
    
}

.backend-container{
    display: inline-flex;
    border: 2px solid black;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}