<div class="services container-fluid" #services [@viewed]="viewed" [@nofilter]="viewed">
    <div class="row">
        <h2 class="services__tittle display-2 dark-orange"><b>Services</b></h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="service">
                <h5 class="service__tittle">Landing Page</h5>
                <div class="row">
                    <div class="service__icon service__icon--1"></div>
                    <div class="service__icon service__icon--2"></div>
                    <div class="service__icon service__icon--3"></div>
                </div>
                <p class="service__description">A landing page is a window to your business, your service, your ethos
                    and your values. </p>
                <p class="service__description"> When implemented correctly, a landing page can convince prospective
                    customers that you have what they need. </p>
                <p class="service__description">funnelling incoming business enquiries to you. </p>

            </div>
        </div>
        <div class="sepeator">
            <div class="util__border-top"></div>
            <div class="util__border-bottom"></div>
        </div>

        <div class="col-sm">
            <div class="service ">
                <h5 class="service__tittle">Wordpress Website</h5>
                <div class="service__icon service__icon--4"></div> <!-- wordpress -->
                <p class="service__description">Customizing and upgrading your current website, or creating it from
                    scratch,

                </p>
                <p class="service__description"> We deliver outstanding high-end work that will stand out.</p>
                <p class="service__description"> Plugins/themes Support, maintenance and problem solving services to
                    existing\new websites.</p>
            </div>
        </div>
        <div class="sepeator">
            <div class="util__border-top"></div>
            <div class="util__border-bottom"></div>
        </div>
        <div class="col-sm">
            <div class="service">
                <h5 class="service__tittle"> One Page Appliaction</h5>
                <div class="row">
                    <div class="service__icon service__icon--5"></div>
                    <div class="service__icon service__icon--6"></div>
                    <div class="service__icon service__icon--7"></div>
                </div>
                <p class="service__description service__description--opg">Theres nothing we hate more than standing
                    still in traffic, why wait for a webpage to load?
                    leave it to us, your time is our problem.
                </p>
            </div>
        </div>
    </div>

</div>