<div class="services container-fluid" #services [@viewed]="viewed" [@nofilter]="viewed">
    <div class="row">
        <h2 class="services__tittle display-2 dark-orange"><b>Services</b></h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="service">
                <h5 class="service__tittle">Landing Page</h5>
                <div class="row">
                    <div class="service__icon service__icon--1"></div>
                    <div class="service__icon service__icon--2"></div>
                    <div class="service__icon service__icon--3"></div>
                </div>
                <p class="service__description">A landing page is a window to your business, your service, your ethos
                    and your values. </p>
                <p class="service__description"> When implemented correctly, a landing page can convince prospective
                    customers that you have what they need. </p>
                <p class="service__description">funnelling incoming business enquiries to you. </p>
                <a class="service__link" href="https://www.fiverr.com/share/DBwYrD" target="_blank"><div class="service__button">Order Now</div></a>
            </div>
        </div>
        <div class="sepeator">
            <div class="util__border-top"></div>
            <div class="util__border-bottom"></div>
        </div>

        <div class="col-sm">
            <div class="service ">
                <h5 class="service__tittle">Wordpress Website</h5>
                <div class="service__icon service__icon--4"></div> <!-- wordpress -->
                <p class="service__description">Customizing and upgrading your current website, or creating it from
                    scratch,

                </p>
                <p class="service__description"> We deliver outstanding high-end work that will stand out.</p>
                <p class="service__description"> Plugins/themes Support, maintenance and problem solving services to
                    existing\new websites.</p>
                <a class="service__link" href="https://bit.ly/2PvFSaw" target="_blank"><div class="service__button">Order Now</div></a>
            </div>
        </div>
        <div class="sepeator">
            <div class="util__border-top"></div>
            <div class="util__border-bottom"></div>
        </div>
        <div class="col-sm">
            <div class="service">
                <h5 class="service__tittle"> Single Page Appliaction</h5>
                <div class="row">
                    <div class="service__icon service__icon--5"></div>
                    <div class="service__icon service__icon--6"></div>
                    <div class="service__icon service__icon--7"></div>
                </div>
                <p class="service__description">A web application or web site that interacts with the user by dynamically rewriting the current page rather than loading entire new pages from a server.</p>
                <p class="service__description">The appropriate resources are dynamically loaded and added to the page as necessary, usually in response to user actions</p>
                <a class="service__link" href="#" target="_blank"><div class="service__comming-soon">Comming Soon</div></a>
            </div>
        </div>
    </div>

</div>