.html-css-js{
    width:150px;
    height: 75px;
    margin: auto;
    display: block;
}

.wordpress {
    width:75px;
    height: 75px;
    margin: auto;
    display: block;
}

.angular {
    width:75px;
    height: 75px;
    margin: auto;
    display: block;
}

