
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 80px;
}
.card {
    width: 500px;
    height: 350px;
    cursor: pointer;
    
    &--1 {
        background: url("../../../assets/thumb-1.jpg") center center/cover;
    }
    &--2 {
        background: url("../../../assets/thumb-1.jpg") center center/cover;
    }

    &:hover {
        background: white; 
        background-size: cover;

        .card {
            &__text-area {
                opacity: 1;
                animation: moveDown 1s ease-in-out;
                animation-fill-mode: forwards;
            }

            &__btn {
                opacity: 1;
                animation: moveUp 1s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__text-area {
        opacity: 0;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        border: 2px solid #FF5524;
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
        text-align: center;
        color: #FF5524;

        &:hover {
            background-color: #FF5524 ;
            color: white;
        }
    }
    
}


