@import "~src/scss/mixin";
.display-2{
    @include for-phone-only {  
        font-size: 4rem;
    }
}
h2 {
    margin: 70px auto;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.card {
    width: 500px;
    height: 350px;
    margin: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    
    &--1 {
        background: url("../../../assets/dharmaPreview.jpg") center center/cover no-repeat;
    }
    &--2 {
        background: url("../../../assets/artofidanPreview.jpg") center center/cover no-repeat;
    }

    &:hover {
        background: white; 
        background-size: cover;

        .card {
            &__text-area {
                opacity: 1;
                animation: moveDown 1s ease-in-out;
                animation-fill-mode: forwards;
            }

            &__btn {
                opacity: 1;
                animation: moveUp 1s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__text-area {
        opacity: 0;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        border: 2px solid #FF5524;
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
        text-align: center;
        color: #FF5524;

        &:hover {
            background-color: #FF5524 ;
            color: white;
        }
    }
    
    @include for-phone-only {  

        width: 350px;
        height: 200px;
        margin-bottom: 70px;

        &:hover {
            background: rgba(255, 255, 255, 0); 
            .card__text-area {
                animation: none;
            }
            .card__btn {
                animation: none;
            }
        }
        &__text-area {
            opacity: 1;
        }
        &__btn {
            opacity: 1;
        }
        
    }
}




