<section class="portfolio" #portfolio [@viewed]="viewed">
    <div class="row">
        <h2 class="dark-orange display-3">Our Latest Projects</h2>
    </div>


    <div class="row">
        <!-- <div class="col-sm-6 col-md-6"> -->
            <div class="card card--1">
                <div class="card__text-area text">
                    <h3 class="card__text-area__tittle">Dharma-Photography</h3>
                    <span class="card__text-area__subtittle">Javascript Html and Css</span>
                </div>
                <div class="card__btn button" (click)="clickBy()"><span>Learn More</span> </div>
            </div>
            <app-modal *ngIf="clicked" (close)="clickBy()"></app-modal>
        <!-- </div> -->
        <!-- <div class="col-sm-6 col-md-6"> -->
            <div class="card card--2">
                <div class="card__text-area text">
                    <h3 class="card__text-area__tittle">Art Of Idan</h3>
                    <span class="card__text-area__subtittle">Javascript Html and Css</span>
                </div>
                <div class="card__btn button" (click)="clickBy()"><span>Learn More</span> </div>
            </div>
            <app-modal *ngIf="clicked" (close)="clickBy()"></app-modal>
        <!-- </div> -->
    </div>



</section>