<section class="portfolio" #portfolio [@viewed]="viewed">
    <div class="row">
        <h2 class="dark-orange display-2">Our Latest Projects</h2>
    </div>


    <div class="row">
        <!-- <div class="col-sm-6 col-md-6"> -->
            <div class="card card--1">
                <div class="card__text-area text">
                    <h3 class="card__text-area__tittle">{{ project2.name }}</h3>
                    <span class="card__text-area__subtittle">{{ project2.tech }}</span>
                </div>
                <div class="card__btn button" (click)="clickBy(project2)"><span>Learn More</span> </div>
            </div>
            <app-modal *ngIf="clicked" (close)="clickBy()" [project]="project"></app-modal>
        <!-- </div> -->
        <!-- <div class="col-sm-6 col-md-6"> -->
            <div class="card card--2">
                <div class="card__text-area text">
                    <h3 class="card__text-area__tittle">{{ project1.name }}</h3>
                    <span class="card__text-area__subtittle">{{ project1.tech }}</span>
                </div>
                <div class="card__btn button" (click)="clickBy(project1)"><span>Learn More</span> </div>
            </div>
            <app-modal *ngIf="clicked" (close)="clickBy()" [project]="project"></app-modal>
        <!-- </div> -->
           <!-- <div class="col-sm-6 col-md-6"> 
            <div class="card card--2">
                <div class="card__text-area text">
                    <h3 class="card__text-area__tittle">{{project1.name}}</h3>
                    <span class="card__text-area__subtittle">{{project1.tech}}</span>
                </div>
                <div class="card__btn button" (click)="clickBy()"><span>Learn More</span> </div>
            </div>
            <app-modal *ngIf="clicked" (close)="clickBy()" [project]="project1"></app-modal>

            -->
        <!-- </div> -->
    </div>



</section>