 <!-- START OF GRAPHS-->

 <div *ngIf="gId" class="graph-card">
    <input class="graph-card__trigger graph-card__trigger_views" type="radio" name="trigger" [attr.id]="gId + '-views'" />
    <input class="graph-card__trigger graph-card__trigger_sales" type="radio" name="trigger" checked="checked" [attr.id]="gId + '-sales'" />
    <input class="graph-card__trigger graph-card__trigger_likes" type="radio" name="trigger" [attr.id]="gId + '-likes'" />
    
    <div class="graph-card__lines">
        <div class="graph-card__line"></div>
        <div class="graph-card__line"></div>
        <div class="graph-card__line"></div>
        <div class="graph-card__line"></div>
    </div>
    <div class="graph-card__controls">
        <div class="graph-card__controls-inner">
            <label class="graph-card__control card__control_views" for="{{gId}}-views">Design</label>
            <label class="graph-card__control card__control_sales" for="{{gId}}-sales">Coding</label>
            <label class="graph-card__control card__control_likes" for="{{gId}}-likes">Human</label>
        </div>
    </div>
</div>
<!-- END OF GRAPHS-->
