// START OF GRAPHS
@import "~src/scss/mixin";

$color-1: rgb(48, 140, 255);
$color-2: rgb(48, 96, 255);
$color-3: rgb(48, 51, 255);

.graph-card {
    // background: #FCFBFB;
    padding: 0 10px;
    background: transparent;
    width: 280px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0);
    &__lines {
      height: 165px;
      display: flex;
      padding: 20px 0;
      justify-content: space-around;
    }
    &__text-area {
      display: flex;
      justify-content: space-around;
    }
    &__text {
      font-size: 1.2rem;
      font-weight: 300;
    }
    &__line {
      margin: 0 10px;
      width: 100%;
      transform: translate3d(0, 0, 0);
      
      background: #D8D2D7;
      position: relative;
      //border-radius: 14px;
      overflow: hidden;
      
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &-inner {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        //border-radius: 14px;
        transform-origin: 50% 100%;
        transform: translateY(-100%);
        transition: all .2s ease-in-out;
        
        // background: #f00;
        border-right: 2px solid rgba(0, 0, 0, .3);
      }
    }
    &__controls {
      height: 20%;
      background: transparent;
      position: relative;
      &-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      &:after {
        transition: transform .4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
                    background .1s linear;
        content: '';
        width: 80px;
        height: 40px;
        background: #000;
        // border-radius: 40px;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 0;
        z-index: 5;
        border-right: 3px solid rgba(0, 0, 0, .1);
      }
    }
    &__control {
      //border-radius: 30px;
      transition: all .2s ease-in-out;
      transform: translate3d(0, 0, 0);
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 40px;
      cursor: pointer;
      width: 80px;
      height: 40px;
      z-index: 10;
      text-align: center;
      position: relative;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0);

    }
    &__trigger {
      position: absolute;
      margin: 0;
      padding: 0;
      opacity: 0;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      background: none;
      &_views {
        &:checked {
          .graph-card__text {
            color: $color-1;
          }
          & ~ .graph-card__lines {
            .graph-card__line {
              &-inner {
                background: $color-1;
              }
            }
          }
          & ~ .graph-card__controls {
            &:after {
                
              transform: translateX(8px);
              @include for-phone-only { 
                transform: translateX(8px);
                
              }
              background: $color-1;
            }
            .graph-card__control_views {
              color: #fff;
              text-shadow: -1px -1px 1px rgba(0, 0, 0, .5);
            }
          }
        }
      }
      &_sales {
        &:checked {
          .graph-card__text {
            color: $color-2;
          }
          & ~ .graph-card__lines {
            .graph-card__line {
              &-inner {
                background: $color-2;
              }
            }
          }
          & ~ .graph-card__controls {
            &:after {
              transform: translateX(90px);
              @include for-phone-only { 
               
                transform: translateX(108px);
              }
              background: $color-2;
            }
            .graph-card__control_sales {
              color: #fff;
              text-shadow: -1px -1px 1px rgba(0, 0, 0, .5);
            }
          }
        }
      }
      &_likes {
        &:checked {
          .graph-card__text {
            color: $color-3;
          }
          & ~ .graph-card__lines {
            .graph-card__line {
              &-inner {
                background: $color-3;
              }
            }
          }
          & ~ .graph-card__controls {
            &:after {
              transform: translateX(173px);
              @include for-phone-only { 
                
                transform: translateX(207px);
              }
              background: $color-3;
            }
            .graph-card__control_likes {
              color: #fff;
              text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
  
//END OF GRAPHS
