<header class="header">
    <div class="container-fluid">
        <svg xmls="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0,0,100,100" class="panels">
            <polygon transfrom="translate(0,0)" points="0,0,0,100 100,0" class="light"></polygon>
            <polygon points="100,100 0,100 100,0" class="dark"></polygon>


        </svg>
        <span class="first-sentence">
            The Right <span class="blue">Website</span>
        </span>
        <div class="at">
            <span class="a">A</span>
            <span class="t">T</span>
        </div>
        
        
        <span class="second-sentence">
            The Right <span class="blue">Time</span>
        </span>


    </div>
</header>