.header {
    height: 100vh;
    width: 100vw;
    
    &__canvas {
        height: 100%;
        width: 100%;
        position: absolute;

        background-color: black;
        
    }
    &__text-area {
        color: white;
        text-align: center;
        font-family: monospace;
        font-weight: 200;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // left: 50%;

        &__title {
            font-size: 3rem;
        }

        &__button {
            padding: 12px 0;
            height: 60px;
            width: 120px;
            border: 2px solid white;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            
            &__svg {
                height: 30px;
                width: 30px;
                transition: all 0.5s ease;

                &:hover {
                    transform: rotate(90deg);
                }
            }
        }
    }
}