 /*font-family: 'Shadows Into Light', cursive;
    font-family: 'Permanent Marker', cursive;
    */

.header {
    height: 70vh;
    min-height: 750px;
    position: relative;
    font-family: 'PT Serif', serif;
    font-size: 70px;
    text-align: left;
   
    &__tittle {
        position: absolute;
        top: 2%;
        left: 3%;
    }

    &__subtittle {
        position: absolute;
        right: 3%;
        bottom: 2%;
    }
    &__logo{
        position: absolute;
        top: 2%;
        right: 3%;
        
        height: 120px;
        width: 120px;
        background: url("~/assets/StoleronLogo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 635px;
        background: url("~/assets/laptop.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__button {
        position: absolute;
        bottom: 10%;
        left: 3%;

        border: 2px solid #FF6530;
        height: 60px;
        width: 180px;

        &__text{
            display: inline-block;
            transform: translateY(-75%);
            padding: 12px 0px 12px 10px;
            color: #FF6530;
            font-size: 22px;
        }

        &__svg{
            display: inline-block;
            transform: translate(50%, -100%);
            transition: all 0.5s ease;
            height: 30px;
            width: 30px;
            fill: #FF6530;
        }
    }

    
}


.panels {
    // fill: #eaeaea;
    width: 100%;
    height: 100%;
    background-color: #EAEAEA;

    
}

.light {
    fill: #EAEAEA;
}

.dark {
    fill: #242021;
}


.orange {
    color: #FF6530;
    font-family: 'PT Serif', serif;
    display: block;
    // text-align: center;
}
.blue {
    color: #3498db;
    font-family: 'PT Serif', serif;
   display: block;
//    text-align: center;
    
}


.laptop{
    position: absolute;
    bottom: 0;
    right: 0;
}

