@import "~src/scss/mixin";

.header {
    height: 70vh;
    min-height: 750px;
    position: relative;
    font-size: 70px;
    text-align: left;
   
    &__tittle {
        display: grid;
        font-family: 'PT Serif', serif;
        position: absolute;
        top: 2%;
        left: 3%;
    }

    &__subtittle {
        font-family: 'PT Serif', serif;
        display: grid;
        position: absolute;
        right: 3%;
        bottom: 2.4%;
    }
    &__logo{
        position: absolute;
        top: 2%;
        right: 3%;
        
        height: 120px;
        width: 120px;
        background: url("~/assets/stoleron-logo-new.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 500px;
        background: url("~/assets/laptop-new.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__fiverr{
        
        position: absolute;
        cursor: pointer;
        top: 4%;
        right: 10%;
        
        height: 50px;
        width: 215px;
        cursor: pointer;
        background: url("~/assets/fiverr-logo-new.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    &__button {
        position: absolute;
        text-align: center;
        bottom: 5%;
        left: 25%;
        border: 2px solid #FF6530;
        height: 50px;
        width: 215px;
        cursor: pointer;
        font-weight: 600;

        // modal button css
       
    
    
    border-radius: 5px;
   
    box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
    transition: 0.3s;
    display: block;
    margin: 0 auto 20px auto;
        //end of modal button css
        @include for-tablet-only {
            left:auto;
            right: 3%;

         }
        &:hover {
            .header__button__svg {
                transform: translate(50%, -100%) rotate(90deg);
            }
        }

        &__text{
            display: inline-block;
            transform: translateY(-85%);
            padding: 12px 0px 12px 10px;
            color: #FF6530;
            font-size: 22px;
        }

        &__svg{
            display: inline-block;
            transform: translate(50%, -120%);
            transition: all 0.5s ease;
            height: 30px;
            width: 30px;
            fill: #FF6530;
        }
    }  

    &__hireButton{
        position: absolute;
        cursor: pointer;
        bottom: 5%;
        left: 3%;
        border: 2px solid #FF6530;
        height: 50px;
        width: 215px;
        cursor: pointer;
        font-weight: 600;
        color: #FF6530;
        // modal button css
       
    
    
    border-radius: 5px;
   
    box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.301);
    transition: 0.3s;
    display: block;
    margin: 0 auto 20px auto;
        //end of modal button css


        &__text{
            display: inline-block;
            transform: translateY(-85%);
            padding: 12px 0px 12px 10px;
           
            font-size: 22px;
            
        }

        &__svg{
            display: inline-block;
            transform: translate(50%, -100%);
            transition: all 0.5s ease;
            height: 30px;
            width: 30px;
            fill: #FF6530;
        }
        
    }
}





// Extra small devices (portrait phones, less than 576px)
@include for-phone-only { 

    .display-1{
        font-size: 3rem;
    }
  
    .header {
        min-height: 0;
        width: 100%;
        height: 80vh;
       
        &__tittle {
            display: grid;
            
        }
    
        &__subtittle {
            display: grid;
            right: 3%;
            bottom: 20%;
           
        }
        &__logo{
            height: 80px;
            width: 80px;
        }
        &__img {
            top: 45%;
            left: 50%;
            height: 27vh;
            width: 95vw;
        }
    
        &__button {
            left: auto;
            right: 3%;
            bottom: 6%;
            height: 40px;
            width: 160px;
            overflow: hidden;
            &__text{
                transform: translateY(-125%);
                font-size: 15px;
            }
            
    
            &__svg{
                transform: translate(24%, -145%);
            }
        } 
        &__hireButton {
            left: 3%;
            bottom: 6%;
            height: 40px;
            width: 160px;
            &__text{
                font-size: 17px;
                transform: translateY(-116%);
            }
        } 
    }
}
