/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    margin: 0;
    // border-radius: 0 !important;
    
}
html {
    background-color: #EAEAEA;
}
body {
    max-width: 1600px !important;
    margin: auto;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.h2, h2 {
    // margin-bottom: 40px !important;
    // margin-top: 50px !important;
    text-align: center;
}

h1 ,h2, h3 ,h4, h5, h6  {
    font-family: 'PT Serif', serif;
    line-height: 1.5 ;
   

}
.dark-orange{
    color: #FF6530;
}
.orange {
    color: #FF6530;
}
.blue {
    color: #3498db;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    *{
        // overflow-x : hidden;
       
    }
   

 }

 




