/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.h2, h2 {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
    text-align: center;
}