@keyframes moveUp {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-70px);
    }
}

@keyframes moveUR {
    0% {
        display: block;
    }
    99% {
        // height: 100%;
    }
    100% {
        transform: translate(130px, -100px);
        opacity: 0;
        height: 0;
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(70px);
        font-size: 1.2rem;
    }
}

@keyframes changeColor {
    0% {
        color: white;
    }
    100% {
        color: #0F4263;
    }
}

@keyframes moveDownNav {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

