// need to add colors

$breakpoint-small-phones: 360px;
$breakpoint-phone: 575.98px;
$breakpoint-widescreen: 1200px;
$breakpoint-tablet: 1050px;

$dark-orange: #FF6530;
$orange: #FF6530;
$blue: #3498db;
