<div class="container-fluid about">
    <div class="about__overlay">


        <div class="row">
            <h2 class="display-3">About</h2>
        </div>


        <div class="row">
            <div class="col-sm">
                <div class="card about__card about__card--1">
                    <img src="../../../assets/RonProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">
                        <h3 class="card-title about__card__title">Ron</h3>
                        <p class="card-text about__card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula
                            eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                            quam
                            felis,
                            ultricies nec.</p>
                    </div>
                </div>
            </div>


            <div class="col-sm">

                <div class="card about__card about__card--2">
                    <img src="../../../assets/idanProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">
                        <h3 class="card-title about__card__title">Idan</h3>
                        <p class="card-text about__card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                            quam felis,
                            ultricies nec</p>

                    </div>
                </div>


            </div>
        </div>
    </div>
  
</div>






<!--
                   <h3>Ron</h3>
            <img class="profile-image" src="../../../assets/RonProfileImage.jpg" alt="">

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec</p>

            -->


<!--

                  <h3>Idan</h3>
            <figure>
                <img class="profile-image" src="../../../assets/idanProfileImage.jpg" alt="">
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec</p>

            -->