
@import "~src/scss/mixin";
.display-2{
  color: #ddd;
  margin-bottom: 100px;
  margin-top: 100px;
}
h3 {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin: auto;
    
}
.about{    
  @include for-phone-only {  
    background-image: none;
    
  }
  
  background-image: url("~/assets/about-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__overlay {
    background-image: linear-gradient(to bottom, rgba(111,144,161,0.7)   , rgba( 34,129,180,0.7) 60% ,rgba(  3, 36, 54,1)  );
    @include for-phone-only {
      background-color: #7DAAC7;;
      background-image: none;
    }
  }

  &__card{
    width: 90%;
    height: 280px;
    margin: 6% auto;
    // margin-bottom: 100px;
    // margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
    display: flex;
    flex-direction: row;

    @include for-phone-only { 
      width: 90%;
      min-height: 775px;
      flex-direction: column;
      height: 95vh;
    }
    @include for-tablet-only {
      width: 90%;
      min-height: 775px;
      flex-direction: column;
      height: 95vh;
    }

    &-img_cont {
      position: relative;
    }

    &-right {
      position: relative;
      flex-direction: row-reverse;
      @include for-phone-only {flex-direction: column;}
      @include for-tablet-only {flex-direction: column;}
    }

    &__img{
      width: 276px;
      height: 276px;
      filter: grayscale(100%);
      @include for-phone-only {
        width: 140px;
        height: 140px;
      }
    }
    &__body{
      display: flex;
      align-items: center;
      text-align: justify;
      justify-content: center;
      // background-color: transparent;
      color: black;
      padding: 0;
    }

    &__title{
      margin: 0;
      color: #300c00;
      font-size: 40px;
      background-color: rgba(256,256,256,0.7);
      position: absolute;
      top: 216px;
      left: 0;
      width: 100%;
      @include for-phone-only {
        top: 0;
        right: 0;
        left: auto;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include for-tablet-only {
        width: 280px;
      }
    }

    &__text{
      width: 90%;
      font-size: 1.3rem;
      font-weight: 600;

      @include for-phone-only {
        height: auto;
      }
    }

  }
}
