

.container-fluid{
    
   padding-top: 200px;
   
}

.row{
    margin-bottom: 50px;
}


.about{    
    
    &__overlay {
        background-image: linear-gradient(to left, #3498db 50%, #FF6530 50%);
        padding-bottom: 200px;
    }
    &__card{
        width: 25rem;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);

        &--1 {
            border: 5px solid #3498db;
        }

        &--2 {
            border: 5px solid #FF6530;
        }

        &__img{
            margin-top: 30px;
        }
        &__body{

        }

        &__title{
            margin-bottom: 40px;
        }

        &__text{
            margin-bottom: 70px;
            padding-top: 20px;
        }

    }
}

// img {
//         width: 200px;
//         height: 200px;
//         display: block;
        
//         margin: auto;
//         margin-bottom: 40px;
//     }

    h3 {
        margin-bottom: 30px;
        text-align: center;
    }

    h2 {
        margin: auto;
    }
    
