<div class="container-fluid about" #about [@viewed]="viewed">
    <div class="about__overlay">


        <div class="row">
            <h2 class="display-2 "><b>About</b></h2>
        </div>


        <div class="row">
            <div class="col-sm">
                <div class="card about__card ">
                    <img src="../../../assets/RonProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">
                        <h3 class="card-title about__card__title"><b>Ron</b></h3>
                        <p class="card-text about__card__text">Ron, 27, Israel, Software engineer graduate by SCE
                            college of engineering.
                            Passionate Young programmer, Coder, and a freelance teacher, who happens to visit the beach
                            at the summer and surf when im not gaming.
                        </p>

                        <app-graphs gId="ron"></app-graphs>


                    </div>
                </div>
            </div>


            <div class="col-sm">

                <div class="card about__card ">
                    <img src="../../../assets/idanProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">

                        <h3 class="card-title about__card__title"><b>Idan</b></h3>
                        <p class="card-text about__card__text">Idan Avinoam, 29, Israel, Electrical engineer and self tought web developer.
                            A father to 2 little girls. 
                        </p>
                        <app-graphs gId="idan"></app-graphs>


                    </div>
                </div>


            </div>
        </div>
    </div>

</div>