<div class="container-fluid about" #about [@viewed]="viewed">
    <div class="about__overlay">


        <div class="row">
            <h2 class="display-3 dark-orange"><b>About</b></h2>
        </div>


        <div class="row">
            <div class="col-sm">
                <div class="card about__card about__card--1">
                    <img src="../../../assets/RonProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">
                        <h3 class="card-title about__card__title"><b>Ron</b></h3>

                        <!-- START OF GRAPHS-->

                        <div class="graph-card">
                            <input class="graph-card__trigger graph-card__trigger_views" type="radio" name="trigger" id="views" />
                            <input class="graph-card__trigger graph-card__trigger_sales" type="radio" name="trigger"
                                checked="checked" id="sales" />
                            <input class="graph-card__trigger graph-card__trigger_likes" type="radio" name="trigger" id="likes" />
                            <div class="graph-card__lines">
                                <div class="graph-card__line"></div>
                                <div class="graph-card__line"></div>
                                <div class="graph-card__line"></div>
                                <div class="graph-card__line"></div>
                                <div class="graph-card__line"></div>
                          
                            </div>
                            <div class="graph-card__controls">
                                <div class="graph-card__controls-inner">
                                    <label class="graph-card__control card__control_views" for="views">Design</label>
                                    <label class="graph-card__control card__control_sales" for="sales">Coding</label>
                                    <label class="graph-card__control card__control_likes" for="likes">Human</label>
                                </div>
                            </div>
                        </div>
                        <!-- END OF GRAPHS-->

                        <!--
                            <p class="card-text about__card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula
                            eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                            quam
                            felis,
                            ultricies nec.</p>
                        -->
                        
                    </div>
                </div>
            </div>


            <div class="col-sm">

                <div class="card about__card about__card--2">
                    <img src="../../../assets/idanProfileImage.jpg" class="card-img-top about__card__img" alt="...">
                    <div class="card-body about__card__body">
                        <h3 class="card-title about__card__title"><b>Idan</b></h3>
                        <p class="card-text about__card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                            quam felis,
                            ultricies nec</p>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>






<!--
                   <h3>Ron</h3>
            <img class="profile-image" src="../../../assets/RonProfileImage.jpg" alt="">

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec</p>

            -->


<!--

                  <h3>Idan</h3>
            <figure>
                <img class="profile-image" src="../../../assets/idanProfileImage.jpg" alt="">
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec</p>

            -->