

.container-fluid{
    
    padding-bottom: 80px;
    
}

.row{
    margin-bottom: 50px;
}
.about{
    &__card{
        width: 25rem;

        &__img{
            margin-top: 30px;
        }
        &__body{

        }

        &__title{
            margin-bottom: 40px;
        }

        &__text{
            margin-bottom: 70px;
            padding-top: 20px;
        }

    }
}
.card {
    margin: auto;
}
img {
        width: 200px;
        height: 200px;
        display: block;
        
        margin: auto;
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 30px;
        text-align: center;
    }

    h2 {
        margin: auto;
    }
    
