<div class="contact" #contact [@viewed]="viewed">



<!--

  <h4 class="contact__text-area__tittle display-4"><span class="blue">We</span> would <span class="blue">like</span> to
    <span class="blue">hear</span> from <span class="blue">You</span> <span class="orange">!</span></h4>
-->
  <h4 class="contact__text-area__tittle display-4 dark-orange">We would like to
    hear from You</h4>




  <div class="card">
    <h5 class="card-header">Contact Us</h5>
    <div class="card-body">

      <div class="form-container">

        <form class="form" action="">
          <div class="input-container">
            <label for="name"> <b>Name</b> </label>
            <input type="text">
          </div>

          <div class="input-container">
            <label for="name"><b>Email</b> </label>
            <input type="text">
          </div>


          <div class="input-container">
            <label for="name"><b>Something to add?</b></label>
            <textarea name="" id="" cols="30" rows="3"></textarea>
          </div>

            <button class="submit-button">Submit</button>
          


        </form>

      </div>

    </div>
  </div>



</div>





<!--

  <canvas #canvas class="contact__canvas"></canvas>

-->