
h4 {
   
    margin:  auto ;
    margin-top: 60px;
    margin-bottom: 100px;
}

input {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    color: #300c00;
}
textarea{
    font-size: 25px;
    resize: none;
    background-color: white;
    width: 300px;

}
label {
    font-size: 200%;
    display: block;
    text-align: left;
    color: white;
    padding-left: 52px;
}
.input-container{
    margin-bottom: 30px;
}
.contact {
   
  
    
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    display: block;
    height: 1100px;
    // margin-top: -700px;
    width: 100%;
    background-image: linear-gradient(to  bottom , rgba( 256,256,256,1), rgba(52, 153, 219,0.8)       );
   
    &__canvas {
        pointer-events: none;
        height: 900px;
        width: 100%;
        position: absolute;

        background-color: rgba(0, 0, 0, 0);
        
    }
    
}


.card{
    
    margin:auto;
    display: table;
    // border: 1px solid #3499DB;
    width: 450px;
    // background-color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(to bottom right, rgba(52, 153, 219,1)   , rgba( 34,129,180,1)  ,rgba(  3, 36, 54,1)  );
    height: 600px;
   
    font-family: "PT Serif", serif;
    font-size: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0,0.75);
    margin-top: 130px;
}

.card-header{
    background-color: transparent;
    color: white;
    font-size: 30px;
}

.form{
    opacity: 1;
}





.submit-button {
    padding: 12px 0;
    height: 70px;
    width: 300px;
    //border: 2px solid #FF6530;
    border:none;
    background-color: white;  
    margin:  auto;
    margin-top: 50px;
    cursor: pointer;
    color: #300c00;
    font-size: 32px;
    margin:auto;
    transition: 500ms;
    box-shadow: none;
    background-image: linear-gradient(to  bottom right, rgba(52, 153, 219,0.9)   , rgba( 256,256,256,1)   );
    letter-spacing: 3px;
}

.submit-button:hover {
    // color: white;
    background-image:none;
    background-color: #3499DB; 
}

.orange{
    color: #FF6530;
}

input {
    width: 300px;
    height: 50px;
    outline: 0;
    // box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    // background-color: transparent;
    background-color: white;
}

input:focus{
    border: 0;
    border-bottom: 2px solid #3499DB;
    box-shadow: 0 1px 0 0 #3499DB;
}

