<div class="contact" #contact [@viewed]="viewed">



<!--

  <h4 class="contact__text-area__tittle display-4"><span class="blue">We</span> would <span class="blue">like</span> to
    <span class="blue">hear</span> from <span class="blue">You</span> <span class="orange">!</span></h4>
-->
  <h4 class="contact__text-area__tittle display-4 dark-orange">We would like to
    hear from You</h4>


    <div class="container">

    

    
      <div class="wrapper">
    
        <!-- PROJET INFORMATION -->
        <div class="company-info">
          <h3>BotDataBase</h3>
    
          <ul>
            <p>Tu peux mettre du texte ici</p>
            <li><i class="fa fa-phone"></i> Un numéro si tu veux</li>
            <li><i class="fa fa-envelope"></i> L'adresse du projet</li>
            <li><button>Fiverr</button></li>
            <li><button>Upwork</button></li>
          </ul>
          
        </div>
    
        <!-- CONTACT FORM -->
        <div class="contact-form">
          <h3>Be informed of the release of BotDataBase !</h3>
    
          <form id="contact-form">
            <p>
              <label>Name</label>
              <input type="text" name="name" id="name" required>
            </p>
            <p>
              <label>E-mail Address</label>
              <input type="email" name="email" id="email" required>
            </p>
            <p class="full">
              <label>Description</label>
              <textarea name="description" id="description" cols="30" rows="3"></textarea>
            </p>
            <p class="full">
              <button type="submit">Submit</button>
            </p>
    
          </form>
          <!-- End #contact-form -->
        </div>
        <!-- End .contact -->
    
      </div>
      <!-- End .wrapper -->
    </div>
    <!-- End .container -->

 

</div>





<!--

  <canvas #canvas class="contact__canvas"></canvas>

-->

<!--
PREVIOUS FORM

 <div class="card">
    <div class="card-header "><b class="display-4">Contact Us</b></div>
    <div class="card-body">

      <div class="form-container">

        <form class="form" action="">
          <div class="input-container">
            <label for="name"> <b>Name</b> </label>
            <input type="text">
          </div>

          <div class="input-container">
            <label for="name"><b>Email</b> </label>
            <input type="text">
          </div>


          <div class="input-container">
            <label for="name"><b>Something to add?</b></label>
            <textarea name="" id="" cols="30" rows="3"></textarea>
          </div>

            <button class="submit-button"><b>Submit</b></button>
          


        </form>

      </div>

    </div>
  </div>


-->